data/classification_dataset/test/
data/classification_dataset/train/
data/classification_dataset/val/
data/classification_dataset.zip
data/luna16_yolo_dataset_v4/images/
data/luna16_yolo_dataset_v4/labels/
data/luna16_yolo_dataset_v4.rar
data/labeled/
data/monitoring/